.personalBanner__card{
    background-color: whitesmoke;
    width: 350px;
    height: 400px;
    margin: 50px 10px 10px 10px;
   border-radius: 30px;
   box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.394);
   border: 1px solid lightgray;
}
.personalBanner__top{
    border-bottom: 1px solid grey;
    width: 350px;
    height: 100px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.personalBanner__top>img{
    width: 125px;
    height: 100px;
    margin-top: 0px;
    margin-left: 20px;
}
.personalBanner__avatar{
    margin: 20px 20px 10px 20px;
    border: 2px solid #4599ff;
    cursor: pointer;
}
.personalBanner__info>h3{
    margin-left: 20px;
    margin-bottom: 20px;
}
.underName{
    margin-left: 20px;
    margin-top: 20px;
}
.personalBanner__button{
    width: 120px;
    height: 35px;
    margin: 50px 20px 20px 20px;
    border: solid 2px #4599ff;
    border-radius: 30px;
    background-color: lightgrey;
    transition: 0.4s;
    font-weight: 600;
    color: #0072b1;
}
.personalBanner__button:hover{
    border: solid 2px grey;
    background-color: #4599ff;
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}
.personalBanner{
    margin-right: 20px;
}