.profileRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.profileRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.profileRow >h4{
    margin-left: 20px;
    font-weight: 600;
}